<div id="Introduction" role="main">
    <canvas id="path1" aria-hidden="true"></canvas>
    <canvas id="path2" aria-hidden="true"></canvas>
    <canvas id="path3" aria-hidden="true"></canvas>
    <canvas id="path4" aria-hidden="true"></canvas>
    <div class="border-blur1" aria-hidden="true"></div>
    <div id="text1" class="box1 divText1">
        <span aria-hidden="true"></span>
        <canvas id="starryCanvas1" aria-hidden="true"></canvas>
        <div class="text-container">
            <h2 class="title m-0">Educational Background</h2>
            <p class="content m-0">I hold a Bachelor's degree in Mechatronics from the Silesian University of
                Technology,
                where I focused on computer science and programming. My studies included developing automated systems
                and programming embedded devices, which enhanced my technical skills.</p>
        </div>
    </div>

    <div class="border-blur2" aria-hidden="true"></div>
    <img id="svgIcon2" src="/assets/svgs/WaypointNMSSmall.svg" alt="Waypoint Icon" />
    <div id="text2" class="box2 divText2">
        <span aria-hidden="true"></span>
        <canvas id="starryCanvas2" aria-hidden="true"></canvas>
        <div class="text-container">
            <h2 class="title m-0">Professional Journey</h2>
            <p class="content m-0">After graduation, I started my career at Allcomp Polska as a .NET Developer. I gained
                hands-on experience with C#, SQL, and ASP.NET, enhancing my coding skills and understanding of software
                architecture.</p>
        </div>
    </div>

    <div class="border-blur3" aria-hidden="true"></div>
    <img id="svgIcon3" src="/assets/svgs/WaypointNMSSmall.svg" alt="Waypoint Icon" />
    <div id="text3" class="box3 divText3">
        <span aria-hidden="true"></span>
        <canvas id="starryCanvas3" aria-hidden="true"></canvas>
        <div class="text-container">
            <h2 class="title m-0">Continual Learning</h2>
            <p class="content m-0">I pursued a Master's degree in Computer Science at the University of Silesia to
                deepen my
                knowledge in algorithms, data structures, and advanced programming. This education keeps me current with
                industry trends and technological advancements.</p>
        </div>
    </div>

    <div class="border-blur4" aria-hidden="true"></div>
    <img id="svgIcon4" src="/assets/svgs/WaypointNMSSmall.svg" alt="Waypoint Icon" />
    <div id="text4" class="box4 divText4">
        <span aria-hidden="true"></span>
        <canvas id="starryCanvas4" aria-hidden="true"></canvas>
        <div class="text-container">
            <h2 class="title m-0">Future Aspirations</h2>
            <p class="content m-0">My goal is to take on challenging projects in game development, web development, and
                software
                development. I am committed to lifelong learning and staying at the forefront of technological
                advancements.</p>
        </div>
    </div>

    <div class="border-blur5" aria-hidden="true"></div>
    <img id="svgIcon5" src="/assets/svgs/WaypointNMSSmall.svg" alt="Waypoint Icon" />
    <div id="text5" class="box5 divText5">
        <span aria-hidden="true"></span>
        <canvas id="starryCanvas5" aria-hidden="true"></canvas>
        <div class="text-container">
            <h2 class="title m-0">Get in Touch</h2>
            <p class="content m-0">Explore my portfolio to see my work. I'm open to collaborating on innovative
                projects.
                Let's connect on LinkedIn for any inquiries or opportunities.</p>
        </div>
    </div>
</div>