<div id="Introduction">
    <canvas id="path1">
    </canvas>
    <canvas id="path2">
    </canvas>
    <canvas id="path3">
    </canvas>
    <canvas id="path4">
    </canvas>
    <div id="divText1">
        <canvas id="starryCanvas1"></canvas>
        <p id="text1"></p>
    </div>
    <div id="divText2">
        <canvas id="starryCanvas2"></canvas>
        <object id="svgIcon2" type="image/svg+xml" data="/assets/svgs/WaypointNMSSmall.svg"></object>
        <p id="text2"></p>
    </div>
    <div id="divText3">
        <canvas id="starryCanvas3"></canvas>
        <object id="svgIcon3" type="image/svg+xml" data="/assets/svgs/WaypointNMSSmall.svg"></object>
        <p id="text3"></p>
    </div>
    <div id="divText4">
        <canvas id="starryCanvas4"></canvas>

        <object id="svgIcon4" type="image/svg+xml" data="/assets/svgs/WaypointNMSSmall.svg"></object>
        <p id="text4"></p>
    </div>
    <div id="divText5">
        <canvas id="starryCanvas5"></canvas>
        <object id="svgIcon5" type="image/svg+xml" data="/assets/svgs/WaypointNMSSmall.svg"></object>
        <p id="text5"></p>
    </div>
</div>