<div id="Introduction">
    <canvas id="paths">
    </canvas>
    <div id="divText1">
        <p id="text1"></p>
    </div>
    <div id="divText2">
        <object id="svgIcon2" type="image/svg+xml" data="/assets/svgs/WaypointNMSSmall.svg"></object>
        <p id="text2"></p>
    </div>
    <div id="divText3">
        <object id="svgIcon3" type="image/svg+xml" data="/assets/svgs/WaypointNMSSmall.svg"></object>
        <p id="text3"></p>
    </div>
    <div id="divText4">
        <object id="svgIcon4" type="image/svg+xml" data="/assets/svgs/WaypointNMSSmall.svg"></object>
        <p id="text4"></p>
    </div>
    <div id="divText5">
        <object id="svgIcon5" type="image/svg+xml" data="/assets/svgs/WaypointNMSSmall.svg"></object>
        <p id="text5"></p>
    </div>
</div>