<nav class='nav'>
    <fa-icon class='btn' (click)="prev()" [icon]="['fas', 'angle-left']"></fa-icon>
    <fa-icon class='btn' (click)="next()" [icon]="['fas', 'angle-right']"></fa-icon>
</nav>
<div class="sliderContainer">
    <ul class="slider">
        <li (click)="select(8)" id="imageLast" class='item'>
            <div class="caption">Ostatni Projekt</div>
            <div class='content'>
                <h2 class='title'>"Lossless Youths"</h2>
                <p class='description'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga
                    voluptatum,
                    iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.</p>
                <button>Github <fa-icon [icon]="['fas', 'up-right-from-square']"></fa-icon></button>
            </div>
        </li>
        <li (click)="select(0)" id="image0" class='item'>
            <div class="caption">Allcomp cutter HMI</div>
            <div class='content'>
                <h2 class='title'>"WPF Work Project"</h2>
                <div class='description'>
                    <p>
                        At Allcomp Polska, I specialize in developing advanced HMI applications for industrial cutting
                        machines.
                        Using C# and .NET technologies, I design and enhance user
                        interfaces with WPF and manage databases through Microsoft SQL Server.
                    </p>
                    <h3>Key Responsibilities:</h3>
                    <ul>
                        <li><strong>HMI Development:</strong> Crafting user-friendly interfaces for machine control.
                        </li>
                        <li><strong>Trajectory Generation:</strong> Creating algorithms for precise cutting paths.</li>
                        <li><strong>Peripheral Management:</strong> For example, integrating printer control, managing
                            camera integration and file management.
                        </li>
                        <li><strong>Optimization Algorithms:</strong> Developing cutting algorithms and mathematical
                            models.</li>
                        <li><strong>Multi-Display Support:</strong> Adding features for additional display elements.
                        </li>
                        <li><strong>PLC Integration:</strong> Ensuring smooth communication with PLCs.</li>
                    </ul>
                    <p>
                        This role combines technical expertise and innovation, contributing to cutting-edge industrial
                        solutions.
                    </p>
                </div>
            </div>
        </li>
        <li (click)="select(1)" id="image1" class='item'>
            <div class="caption">Multiagent Queue Simulation</div>
            <div class='content'>
                <h2 class='title'>Unity Project</h2>
                <div class='description'>
                    <p>
                        This project showcases my exploration of multi-agent simulation and the Unity engine to model
                        realistic ticket queue scenarios. It highlights my passion for problem-solving and innovative
                        thinking.
                    </p>
                    <p>
                        The simulation examines how people behave in ticket queues and how the number and type of queues
                        affect throughput. It includes both traditional and self-service ticket queues to optimize
                        efficiency and comfort.
                    </p>
                    <p>
                        Created using the Unity engine and coded in C#.
                    </p>
                    <h3>Key Features</h3>
                    <ul>
                        <li>Simulates traditional and self-service ticket queues.</li>
                        <li>Adjustable parameters: number of queues, guests, and service times.</li>
                        <li>Self-service queues are 30% faster.</li>
                        <li>Up to 40% of guests use self-service if the queue is shorter.</li>
                    </ul>
                    <p>
                        The project can be expanded to include factors like different age groups, service costs, and
                        customer satisfaction.
                    </p>
                </div>
                <button>Github <fa-icon [icon]="['fas', 'up-right-from-square']"></fa-icon></button>
            </div>
        </li>
        <li (click)="select(2)" id="image2" class='item'>
            <div class="caption">Real Estate Web Application</div>
            <div class='content'>
                <h2 class='title'>Angular Project</h2>
                <div class='description'>
                    <p>
                        I developed a web application enabling users to post and browse real estate ads, facilitating
                        communication between buyers and sellers. This project showcases my skills in dynamic web
                        development and security.
                    </p>
                    <h3>
                        Key features include:
                    </h3>
                    <ul>
                        <li>Data binding using Angular for dynamic interfaces.</li>
                        <li>Image handling with Cloudinary for optimized delivery.</li>
                        <li>Deployment readiness on Azure with secure settings via Azure Key Vault.</li>
                        <li>Authorization and authentication using IdentityServer4.</li>
                        <li>Exception handling and middleware in ASP.NET Core.</li>
                        <li>Automapper for data mapping and updating.</li>
                        <li>UnitOfWork and Repository patterns for efficient data access.</li>
                        <li>API and EntityFramework for robust data storage.</li>
                        <li>Sorting and filtering functionality for ads.</li>
                        <li>Resolver and property-detail page for detailed ad displays.</li>
                        <li>Reactive forms and validation for user input.</li>
                        <li>HTML form with Angular additions for user registration.</li>
                    </ul>
                </div>
                <button (click)="openLink('https://github.com/Mileek/Angular-Real-Estate-Website')">Github <fa-icon
                        [icon]="['fas', 'up-right-from-square']"></fa-icon></button>
            </div>
        </li>
        <li (click)="select(3)" id="image3" class='item'>
            <div class="caption">ReSCat: Simple ERP Application</div>
            <div class='content'>
                <h2 class='title'>ReSCat WPF Project</h2>
                <div class='description'>
                    <p>
                        ReSCat is my first project, marking the beginning of my programming journey. It is a basic ERP
                        system developed using WPF, designed to help companies manage and report their manufacturing
                        processes. This project highlights my learning experience in WPF, C#, XAML, SQL, and Entity
                        Framework.
                    </p>
                    <h3>
                        Key features include:
                    </h3>
                    <ul>
                        <li>Creation and management of a database for company records.</li>
                        <li>CRUD operations (Create, Read, Update, Delete) for database entries.</li>
                        <li>Data display using DataGrid with search functionality.</li>
                        <li>XML file handling for exporting and importing data.</li>
                        <li>Integrated calendar for production scheduling.</li>
                        <li>Built-in calculator and notepad for quick calculations and notes.</li>
                        <li>Navigation menu for easy access to different sections.</li>
                        <li>Charting and logging capabilities for data visualization and tracking.</li>
                        <li>Exception handling and middleware for robust operations.</li>
                        <li>Responsive UI with custom themes.</li>
                        <li>Data binding and validation using WPF and XAML.</li>
                    </ul>
                </div>
                <button (click)="openLink('https://github.com/Mileek/ReSCat')">Github <fa-icon
                        [icon]="['fas', 'up-right-from-square']"></fa-icon></button>
            </div>
        </li>
        <li (click)="select(4)" id="image4" class='item'>
            <div class="caption">Projekt 4</div>
            <div class='content'>
                <h2 class='title'>"The Migration"</h2>
                <p class='description'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga
                    voluptatum,
                    iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.</p>
                <button>Github <fa-icon [icon]="['fas', 'up-right-from-square']"></fa-icon></button>
            </div>
        </li>
        <li (click)="select(5)" id="image5" class='item'>
            <div class="caption">Projekt 5</div>
            <div class='content'>
                <h2 class='title'>"The Migration"</h2>
                <p class='description'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga
                    voluptatum,
                    iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.</p>
                <button>Github <fa-icon [icon]="['fas', 'up-right-from-square']"></fa-icon></button>
            </div>
        </li>
        <li (click)="select(6)" id="image6" class='item'>
            <div class="caption">Projekt 6</div>
            <div class='content'>
                <h2 class='title'>"The Migration"</h2>
                <p class='description'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga
                    voluptatum,
                    iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.</p>
                <button>Github <fa-icon [icon]="['fas', 'up-right-from-square']"></fa-icon></button>
            </div>
        </li>
        <li (click)="select(7)" id="image7" class='item'>
            <div class="caption">Projekt 7</div>
            <div class='content'>
                <h2 class='title'>"The Migration"</h2>
                <p class='description'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore fuga
                    voluptatum,
                    iure corporis inventore praesentium nisi. Id laboriosam ipsam enim.</p>
                <button>Github <fa-icon [icon]="['fas', 'up-right-from-square']"></fa-icon></button>
            </div>
        </li>
    </ul>
    <div class='dots'>
        <fa-icon class="dot" *ngFor="let i of [0, 1, 2]" (click)="select(i)" [icon]="['fas', 'circle-dot']"></fa-icon>
    </div>
</div>