$cardsDistance: 12vw;
$cardsStart: 60%;
$smallCardsDistance: 140px;
$mediumCardsDistance: 17vw;
$blue: rgba(12, 57, 78, 0.85);

* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.projectsContainer {
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.item {
    width: 10vw;
    height: 33vh;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: hand;
    background-position: center;
    background-size: cover;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    will-change: transform, opacity;
    transition:
        transform 0.1s,
        left 0.6s,
        top 0.6s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        opacity: 1;
        top: 0;
        cursor: hand;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        & .caption {
            opacity: 0;
        }
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
        left: $cardsStart;
        opacity: 0.95;
        cursor: pointer;

        & .caption {
            position: absolute;
            text-align: center;
            background: #0c1022;
            padding: 0.2rem;
            color: white;
            width: 100%;
            top: 15%;
            font-size: 12px;
        }

        &:hover {
            transform: translateY(-55%) scale(1.03) rotate(-3deg);
            transition:
                transform 0.6s ease-in-out,
                -webkit-filter 0.6s ease-in-out;
            transition:
                transform 0.6s ease-in-out,
                filter 0.6s ease-in-out;
            transition:
                transform 0.6s ease-in-out,
                filter 0.6s ease-in-out,
                -webkit-filter 0.6s ease-in-out;
        }
    }

    &:nth-child(4) {
        left: calc($cardsStart + #{$cardsDistance});
    }

    &:nth-child(5) {
        left: calc($cardsStart + #{$cardsDistance * 2});
    }

    @for $i from 6 through 10 {
        &:nth-child(#{$i}) {
            left: calc($cardsStart + #{$cardsDistance * ($i - 1)});
            opacity: 0;
            pointer-events: none;
        }
    }
}

.button {
    position: absolute;
    right: 0;
    margin-top: 5px;
}

.content {
    color: rgb(255, 255, 255);
    text-shadow: 0 3px 12px rgba(0, 0, 0, 0.7);
    opacity: 0;
    margin: 5px;
    letter-spacing: 0.5px;
    display: none;

    & .title {
        font-size: 32px;
        padding: 15px;
        color: white;
        text-align: center;
        z-index: 2;
    }

    & .title::after {
        content: "";
        display: block;
        width: 65%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin: 0 auto;
        -webkit-animation: neonTextGlowWhite 4s infinite;
        animation: neonTextGlowWhite 4s infinite;
        top: 10px;
    }

    & .description {
        padding: 5px;
        text-align: justify;
        line-height: 1.7;
        z-index: 2;
    }

    & button {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: 600;
        color: black;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
        -webkit-animation: neonTextGlowWhite 4s infinite;
        animation: neonTextGlowWhite 4s infinite;
        transition:
            background-color 0.3s ease,
            color 0.3s ease;
    }

    & button:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }
}
.box1 {
    position: relative;
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box1::after,
.box1::before {
    will-change: transform;
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: conic-gradient(transparent, transparent, transparent, #a200ff);
    -webkit-animation: animate 12s linear infinite;
    animation: animate 12s linear infinite;
}

.box1::before {
    background-image: conic-gradient(#fff700, transparent, transparent, transparent);
    -webkit-animation: animate-reverse 12s linear infinite;
    animation: animate-reverse 12s linear infinite;
}

@-webkit-keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes animate-reverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes animate-reverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.box1 span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #0c1022;
    z-index: 1;
}

.item:nth-of-type(2) .content {
    display: block;
    -webkit-animation: show 0.75s ease-in-out 0.3s forwards;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@-webkit-keyframes show {
    0% {
        transform: translateY(calc(-50% + 75px));
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        transform: translateY(calc(-50% + 75px));
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes neonTextGlowWhite {
    from {
        box-shadow:
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 3px #ddd,
            0 0 4px #bbb,
            0 0 5px #bbb,
            0 0 6px #999,
            0 0 7px #999,
            0 0 8px #777,
            0 0 9px #777,
            0 0 10px #555;
    }
    to {
        box-shadow:
            0 0 2px #fff,
            0 0 3px #fff,
            0 0 4px #ddd,
            0 0 5px #bbb,
            0 0 6px #bbb,
            0 0 7px #999,
            0 0 8px #999,
            0 0 9px #777,
            0 0 10px #777,
            0 0 12px #555;
    }
}

@keyframes neonTextGlowWhite {
    from {
        box-shadow:
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 3px #ddd,
            0 0 4px #bbb,
            0 0 5px #bbb,
            0 0 6px #999,
            0 0 7px #999,
            0 0 8px #777,
            0 0 9px #777,
            0 0 10px #555;
    }
    to {
        box-shadow:
            0 0 2px #fff,
            0 0 3px #fff,
            0 0 4px #ddd,
            0 0 5px #bbb,
            0 0 6px #bbb,
            0 0 7px #999,
            0 0 8px #999,
            0 0 9px #777,
            0 0 10px #777,
            0 0 12px #555;
    }
}

@-webkit-keyframes neon-border {
    0%,
    100% {
        box-shadow:
            0 0 10px rgba(59, 126, 117, 0.6),
            0 0 20px rgba(59, 126, 117, 0.6),
            0 0 40px rgba(59, 126, 117, 0.6),
            0 0 80px rgba(59, 126, 117, 0.6);
    }
    50% {
        box-shadow:
            0 0 20px rgba(59, 126, 117, 0.6),
            0 0 40px rgba(59, 126, 117, 0.6),
            0 0 60px rgba(59, 126, 117, 0.6),
            0 0 100px rgba(59, 126, 117, 0.6);
    }
}

@keyframes neon-border {
    0%,
    100% {
        box-shadow:
            0 0 10px rgba(59, 126, 117, 0.6),
            0 0 20px rgba(59, 126, 117, 0.6),
            0 0 40px rgba(59, 126, 117, 0.6),
            0 0 80px rgba(59, 126, 117, 0.6);
    }
    50% {
        box-shadow:
            0 0 20px rgba(59, 126, 117, 0.6),
            0 0 40px rgba(59, 126, 117, 0.6),
            0 0 60px rgba(59, 126, 117, 0.6),
            0 0 100px rgba(59, 126, 117, 0.6);
    }
}
.btnLeft,
.btnRight {
    position: absolute;
    bottom: 2rem;
    transform: translateX(-50%);
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0c1022;
    color: #fff;
    border: 3px solid rgba(59, 126, 117, 0.6);
    width: 65px;
    height: 65px;
    font-size: 1.8rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: neon-border 1.5s infinite alternate;
    animation: neon-border 1.5s infinite alternate;
    transition:
        background-color 0.3s,
        border-color 0.3s;

    &:hover {
        background-color: rgba(59, 126, 117, 0.6);
        border-color: rgba(59, 126, 117, 1);
    }
}

.btnLeft {
    left: 40%;
}

.btnRight {
    left: 60%;
}

#imageLast,
#image0,
#image1,
#image2,
#image3,
#image4,
#image5,
#image6,
#image7 {
    background-size: cover;
    background-position: center;
}

.sliderContainer {
    display: flex;
    justify-content: space-between;
}

@-webkit-keyframes moveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes moveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes neon-border {
    0%,
    100% {
        box-shadow:
            0 0 10px rgba(59, 126, 117, 0.6),
            0 0 20px rgba(59, 126, 117, 0.6);
    }
    50% {
        box-shadow:
            0 0 20px rgba(59, 126, 117, 0.6),
            0 0 40px rgba(59, 126, 117, 0.6);
    }
}

@media (width > 650px) and (width < 900px) {
    .content {
        width: 52vw;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        .title {
            font-size: 22px;
        }

        button {
            font-size: 0.7rem;
        }
    }

    .btnLeft {
        left: 65vw;
    }

    .btnRight {
        left: 80vw;
    }

    .item {
        width: 15vw;
        height: 33vh;

        @for $i from 3 through 10 {
            &:nth-child(#{$i}) {
                cursor: pointer;
                @if $i > 3 {
                    left: calc($cardsStart + #{$mediumCardsDistance * ($i - 4)});
                    pointer-events: none;
                    opacity: 0;
                }
            }
        }
    }
}

@media (width < 650px) {
    .btnLeft,
    .btnRight {
        position: absolute;
        left: calc(28% + #{$cardsStart});
        z-index: 5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: rgba(215, 178, 178, 0.3);
        color: rgb(0, 0, 0);
        border: 3px solid rgba(59, 126, 117, 0.6);
        width: 65px;
        height: 65px;
        font-size: 1.8rem;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .btnLeft {
        top: 20vh;
    }

    .btnRight {
        bottom: 20vh;
    }

    .content {
        width: 68vw;
        padding-bottom: 0;
        letter-spacing: 0;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        .title {
            font-size: 18px;
        }

        button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 25vw;
        height: 33vh;

        &:nth-child(3) {
            left: calc(14% + #{$cardsStart});
        }

        @for $i from 4 through 10 {
            &:nth-child(#{$i}) {
                left: calc(14% + #{$cardsStart} + #{$smallCardsDistance * ($i - 3)});
                cursor: pointer;
                pointer-events: none;
                opacity: 0;
            }
        }
    }
}
// Author: https://codepen.io/ixkaito
// I just made adjustments so it fits my portfolio
@function rand($min, $max) {
    @return random() * ($max - $min) + $min;
}

$animation-duration: 5s;
$glitch-duration2: 10%;
$glitch-frequency: 4;
$glitch-interval: $glitch-duration2 / $glitch-frequency;

@mixin rgb-shift($name) {
    @-webkit-keyframes rgb-shift-#{$name} {
        @for $i from 0 to $glitch-frequency {
            #{$i * $glitch-interval} {
                transform: translate(#{rand(-2, 2) * 1%}, #{rand(-0.5, 0.5) * 1%});
            }
        }

        #{$glitch-duration2},
        100% {
            transform: none;
        }
    }
    @keyframes rgb-shift-#{$name} {
        @for $i from 0 to $glitch-frequency {
            #{$i * $glitch-interval} {
                transform: translate(#{rand(-2, 2) * 1%}, #{rand(-0.5, 0.5) * 1%});
            }
        }

        #{$glitch-duration2},
        100% {
            transform: none;
        }
    }

    -webkit-animation: rgb-shift-#{$name} $animation-duration steps(1, jump-end) infinite alternate both;

    animation: rgb-shift-#{$name} $animation-duration steps(1, jump-end) infinite alternate both;
}

@mixin glitch($name) {
    @-webkit-keyframes glitch-#{$name} {
        @for $i from 0 to $glitch-frequency {
            $left: 0%;
            $right: 100%;
            $top: rand(0, 90) * 1%;
            $bottom: $top + rand(1, 5) * 1%;

            #{$i * $glitch-interval} {
                -webkit-clip-path: polygon($left $top, $right $top, $right $bottom, $left $bottom);
                clip-path: polygon($left $top, $right $top, $right $bottom, $left $bottom);
                transform: translate(#{rand(-6, 6) * 1%}, #{rand(-0.5, 0.5) * 1%});
            }
        }

        #{$glitch-duration2},
        100% {
            -webkit-clip-path: none;
            clip-path: none;
            transform: none;
        }
    }
    @keyframes glitch-#{$name} {
        @for $i from 0 to $glitch-frequency {
            $left: 0%;
            $right: 100%;
            $top: rand(0, 90) * 1%;
            $bottom: $top + rand(1, 5) * 1%;

            #{$i * $glitch-interval} {
                -webkit-clip-path: polygon($left $top, $right $top, $right $bottom, $left $bottom);
                clip-path: polygon($left $top, $right $top, $right $bottom, $left $bottom);
                transform: translate(#{rand(-6, 6) * 1%}, #{rand(-0.5, 0.5) * 1%});
            }
        }

        #{$glitch-duration2},
        100% {
            -webkit-clip-path: none;
            clip-path: none;
            transform: none;
        }
    }

    -webkit-animation: glitch-#{$name} $animation-duration linear infinite alternate both;

    animation: glitch-#{$name} $animation-duration linear infinite alternate both;
}

.glitch {
    background: #000 no-repeat center;
    background-size: cover;

    &::before,
    &::after,
    .channel {
        background: inherit;
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &::before {
        @include glitch(before);
        content: "";
    }

    &::after {
        @include glitch(after);
        content: "";
    }

    .channel {
        mix-blend-mode: screen;

        &::before {
            bottom: 0;
            content: "";
            display: block;
            mix-blend-mode: multiply;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }
    }

    .r {
        @include rgb-shift(r);

        &::before {
            background: #f00;
        }
    }

    .g {
        @include rgb-shift(g);

        &::before {
            background: #0f0;
        }
    }

    .b {
        @include rgb-shift(b);

        &::before {
            background: #00f;
        }
    }
}

//Images
#imageLast {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage1.webp");
}

#image0 {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage2.webp");
}

#image1 {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage3.webp");
}

#image2 {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage4.webp");
}

#image3 {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage5.webp");
}

#image4 {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage6.webp");
}

#image5 {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage7.webp");
}

#image6 {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage8.webp");
}

#image7 {
    background-image: url("/assets/images/projects/desktop/CyberpunkImage9.webp");
}

/* Media query for mobile devices */
@media (max-width: 800px) {
    .content .title::after {
        box-shadow:
            0 0 2px #fff,
            0 0 3px #fff,
            0 0 4px #ddd,
            0 0 5px #bbb,
            0 0 8px #999,
            0 0 9px #777,
            0 0 12px #555;
        animation: none;
    }

    .content button {
        box-shadow:
            0 0 2px #fff,
            0 0 3px #fff,
            0 0 4px #ddd,
            0 0 5px #bbb,
            0 0 8px #999,
            0 0 9px #777,
            0 0 12px #555;
        animation: none;
    }
    .btnLeft,
    .btnRight {
        box-shadow:
            0 0 10px rgba(59, 126, 117, 0.6),
            0 0 20px rgba(59, 126, 117, 0.6),
            0 0 40px rgba(59, 126, 117, 0.6),
            0 0 80px rgba(59, 126, 117, 0.6);
        animation: none;
    }

    #imageLast {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage1.webp");
    }

    #image0 {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage2.webp");
    }

    #image1 {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage3.webp");
    }

    #image2 {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage4.webp");
    }

    #image3 {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage5.webp");
    }

    #image4 {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage6.webp");
    }

    #image5 {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage7.webp");
    }

    #image6 {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage8.webp");
    }

    #image7 {
        background-image: url("/assets/images/projects/mobile/CyberpunkImage9.webp");
    }
}
