<section class="contact-me-border">
    <div class="inner-border">
        <div class="get-in-touch" [ngClass]="{'get-in-touch-slide': messageType === 'success'}">
            <h1 class="title">Let's Connect</h1>
            <form class="contact-form row" (ngSubmit)="sendEmail()">
                <div class="form-field col-12 col-md-4" [ngClass]="{'form-error': messageType === 'error'}">
                    <input id="name" [(ngModel)]="contactForm.name" class="input-text" type="text" name="name" required>
                    <label [ngClass]="{'active-label': contactForm.name}" class="label" for="name">Name</label>
                </div>
                <div class="form-field col-12 col-md-4" [ngClass]="{'form-error': messageType === 'error'}">
                    <input id="email" [(ngModel)]="contactForm.email" class="input-text" type="email" name="email"
                        required>
                    <label [ngClass]="{'active-label': contactForm.email}" class="label" for="email">E-mail</label>
                </div>
                <div class="form-field mt-md-5 col-12 col-md-9" [ngClass]="{'form-error': messageType === 'error'}">
                    <input id="subject" [(ngModel)]="contactForm.subject" class="input-text" type="text" name="subject"
                        required>
                    <label [ngClass]="{'active-label': contactForm.subject}" class="label" for="subject">Subject</label>
                </div>
                <div class="form-field mt-md-5 col-12" [ngClass]="{'form-error': messageType === 'error'}">
                    <textarea id="message" [(ngModel)]="contactForm.message" class="input-text input-message"
                        name="message" required></textarea>
                    <label [ngClass]="{'active-label': contactForm.message}" class="label" for="message">Message</label>
                </div>
                <div class="form-field col-12 text-center">
                    <button class="submit-btn"
                        [ngClass]="{'submit-btn-active': contactForm.name && contactForm.email && contactForm.subject && contactForm.message}"
                        type="submit">
                        Submit&nbsp;
                    </button>
                </div>
            </form>
        </div>
        <h1 *ngIf="messageType === 'success'" class="message-success">
            {{messageText}}<br>Thank you for the contact!
        </h1>
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <h1 class="hand-symbol">🖑</h1>
            </div>
        </div>
        <fa-icon *ngIf="messageType === 'success'" class="plane" [icon]="['fas', 'paper-plane']"></fa-icon>
    </div>
</section>

<footer class="footer mt-auto py-2">
    <div class="container text-center">
        <a href="https://www.linkedin.com/in/kamil-p-kaszuba" target="_blank" rel="noopener" class="footer-link">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> Connect
        </a>
        <a href="https://github.com/Mileek" target="_blank" class="footer-link" rel="noopener">
            <fa-icon [icon]="['fab', 'github']"></fa-icon> Check
        </a>
        <a href="mailto:kamil.p.kaszuba@gmail.com" class="footer-link">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon> Write
        </a>
    </div>
</footer>