html {
    scroll-behavior: smooth;
}

/* Poppins font */
@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

/* Wire One font */
@font-face {
    font-family: "Wire One";
    src: url("/assets/fonts/WireOne-Regular.ttf") format("truetype");
    font-weight: normal;
}

/* Dodaj inne wagi fontów Poppins, jeśli są dostępne */
@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-display: swap;

    @media (max-width: 1200px) {
        font-size: 15px; // dla dużych ekranów (laptopy, mniejsze monitory)
    }

    @media (max-width: 992px) {
        font-size: 14px; // dla średnich ekranów (tablety poziomo)
    }

    @media (max-width: 768px) {
        font-size: 13px; // dla małych ekranów (tablety pionowo, duże telefony)
    }

    @media (max-width: 576px) {
        font-size: 12px; // dla bardzo małych ekranów (telefony)
    }

    @media (max-width: 400px) {
        font-size: 11px; // dla najmniejszych ekranów (małe telefony)
    }
}
