<!-- <div class="fps-counter" aria-live="polite">
  FPS: {{fps}}
</div> -->
<!--Just some background elements, nothing special here-->
<div id="Background" role="img" aria-label="Background with floating images and nebulas">
  <!--Floating images-->
  <canvas id="Galaxies" aria-hidden="true"></canvas>
  <canvas id="FloatingObjects" aria-hidden="true"></canvas>
  <!-- Nebulas -->
  <canvas id="NebulaBlue" aria-hidden="true"></canvas>
  <canvas id="NebulaGreen" aria-hidden="true"></canvas>
  <canvas id="NebulaPurple" aria-hidden="true"></canvas>
  <canvas id="NebulaRed" aria-hidden="true"></canvas>
  <nav class="navbar" role="navigation" aria-label="Secondary Navigation">
    <div id="logo" class="navbar-left">
      <a (click)="scrollToSection('home')" class="logo-link" aria-label="Scroll to Home"><img
          src="/assets/logo/KaPKaLogoTrim.webp" alt="Logo"></a>
    </div>
    <a class="toggle-button" #toggleButton title="Toggle Navigation">
      <span class="bar" id="bar-1" #bar1></span>
      <span class="bar" id="bar-2" #bar2></span>
      <span class="bar" id="bar-3" #bar3></span>
    </a>
    <div class="navbar-right">
      <div class="navbar-links" #navbarLinks>
        <ul>
          <li><a id="link-1" data-text="Home" (click)="scrollToSection('home')" #home><i
                class="fi-xtluhl-house-thin"></i> Home</a></li>
          <li><a id="link-2" data-text="About" (click)="scrollToSection('about-me')" #about><i
                class="fi-xtluxl-folder-thin"></i> About</a></li>
          <li><a id="link-3" data-text="Projects" (click)="scrollToSection('projects')" #projects><i
                class="fi-xtluxl-user-thin"></i> Projects</a></li>
          <li><a id="link-4" data-text="Contact" (click)="scrollToSection('contact-me')" #contact><i
                class="fi-xtluxl-envelope-thin"></i> Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Animated canvas-->
  <canvas id="TwinklingStars" aria-hidden="true"></canvas>
  <canvas id="FallingStars" aria-hidden="true"></canvas>
  <div id="BlackholeContainer" class="blackhole-container">
    <div class="section" id="home" role="region" aria-label="Home Section">
      <ng-container #homeContainer></ng-container>
    </div>
    <canvas id="Blackhole" aria-hidden="true"></canvas>
  </div>
  <div class="section" id="about-me" role="region" aria-label="About Me Section">
    <ng-container #aboutMeContainer></ng-container>
  </div>
  <div class="section" id="projects" role="region" aria-label="Projects Section">
    <ng-container #projectsContainer></ng-container>
  </div>
  <div class="section" id="contact-me" role="region" aria-label="Contact Me Section">
    <ng-container #contactMeContainer></ng-container>
  </div>
  <div class="StickyUpNav">
    <fa-icon (click)="scrollTop()" [icon]="['fas', 'angles-up']" id="navDoubleUp" class="AnglesUp"
      aria-label="Scroll to Top"></fa-icon>
    <fa-icon (click)="scrollUp()" [icon]="['fas', 'angle-up']" id="navUp" class="AngleUp"
      aria-label="Scroll Up"></fa-icon>
  </div>
</div>