// @property --a {
//   syntax: "<angle>";
//   inherits: false;
//   initial-value: 45deg;
// }

#Background {
  position: relative;
  height: 500vh;
  width: 100%; // vw nie zadziała, doda horizontal scrollbar
  background: linear-gradient(
    75deg,
    #000000,
    #0a0f25,
    #161b36,
    #1e2831,
    #1e2835,
    #001023,
    #061d37,
    #172329,
    #0a0f25,
    #000000
  );
  -webkit-animation: gradient 30s linear infinite;
  -moz-animation: gradient 30s linear infinite;
  animation: gradient 30s linear infinite;
  background-size: 200% 200%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#TwinklingStars,
#FallingStars {
  position: absolute;
  top: 0;
  left: 0;
}
