<!-- <nav class="navbar sticky-top">
  <div class="navbar-left">
    <div class="brand-title"><a href="#">KaPKa - Kamil Patryk Kaszuba</a></div>
  </div>
  <a href="#" class="toggle-button" #toggleButton title="Toggle Navigation">
    <span class="bar" id="bar-1" #bar1></span>
    <span class="bar" id="bar-2" #bar2></span>
    <span class="bar" id="bar-3" #bar3></span>
  </a>
  <div class="navbar-right">
    <div class="navbar-links" #navbarLinks>
      <ul>
        <li><a id="link-1" href="#home" #home><i class="fi-xtluhl-house-thin"></i> Home</a></li>
        <li><a id="link-2" href="#about-me" #portfolio><i class="fi-xtluxl-folder-thin"></i> Portfolio</a></li>
        <li><a id="link-3" href="#projects" #about><i class="fi-xtluxl-user-thin"></i> About</a></li>
        <li><a id="link-4" href="#contact-me" #contact><i class="fi-xtluxl-envelope-thin"></i> Contact</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="fps-counter">
  FPS: {{fps}}
</div>
<!--Just some background elements, nothing special here-->
<div id="Background">
  <!--Floating images-->
  <canvas id="Galaxies"></canvas>
  <canvas id="FloatingObjects"></canvas>
  <!-- Nobulas -->
  <canvas id="NebulaBlue"></canvas>
  <canvas id="NebulaGreen"></canvas>
  <canvas id="NebulaPurple"></canvas>
  <canvas id="NebulaRed"></canvas>
  <nav class="navbar">
    <div id="logo" class="navbar-left">
      <a (click)="scrollToSection('home')" title="Logo" class="logo-link"></a>
    </div>
    <a class="toggle-button" #toggleButton title="Toggle Navigation">
      <span class="bar" id="bar-1" #bar1></span>
      <span class="bar" id="bar-2" #bar2></span>
      <span class="bar" id="bar-3" #bar3></span>
    </a>
    <div class="navbar-right">
      <div class="navbar-links" #navbarLinks>
        <ul>
          <li><a id="link-1" data-text="Home" (click)="scrollToSection('home')" #home><i
                class="fi-xtluhl-house-thin"></i> Home</a></li>
          <li><a id="link-2" data-text="About" (click)="scrollToSection('about-me')" #about><i
                class="fi-xtluxl-folder-thin"></i>
              About</a>
          </li>
          <li><a id="link-3" data-text="Projects" (click)="scrollToSection('projects')" #projects><i
                class="fi-xtluxl-user-thin"></i>
              Projects</a></li>
          <li><a id="link-4" data-text="Contact" (click)="scrollToSection('contacts')" #contact><i
                class="fi-xtluxl-envelope-thin"></i>
              Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Animated canvas-->
  <canvas id="TwinklingStars"></canvas>
  <canvas id="FallingStars"></canvas>
  <canvas id="Blackhole"></canvas>

  <div id="home">
    <app-home></app-home>
  </div>
  <div id="about-me">
    <app-about-me></app-about-me>
  </div>
  <div id="projects">
    <app-projects></app-projects>
  </div>
  <div id="contact-me">
    <app-contact-me></app-contact-me>
  </div>
  <div class="StickyUpNav">
    <fa-icon (click)="scrollTop()" [icon]="['fas', 'angles-up']" id="navDoubleUp" class="AnglesUp"></fa-icon>
    <fa-icon (click)="scrollUp()" [icon]="['fas', 'angle-up']" id="navUp" class="AngleUp"></fa-icon>
  </div>
</div>