$blue: rgb(12, 57, 78);
$purple: rgb(48, 12, 78);
$green: rgb(9, 65, 16);
$purple2: #4c203d;
$navbar-height: 75px;

.fps-counter {
  position: absolute;
  top: 200px;
  z-index: 10;
  font-size: 42px;
  left: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

$background: linear-gradient(
  75deg,
  #000000,
  #0a0f25,
  #161b36,
  #10224d,
  #1e2835,
  #001023,
  #061d37,
  #172329,
  #0a0f25,
  #000000
);

#Background {
  position: relative;
  width: 100%;
  height: 450vh;
  // overflow: hidden;
  background: $background;
  background-repeat: no-repeat;
  animation: gradient 30s linear infinite;
  background-size: 200% 200%;
  z-index: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

//Animations etc.
#TwinklingStars,
#FallingStars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#Blackhole {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
}

#NebulaBlue,
#NebulaGreen,
#NebulaPurple,
#NebulaRed {
  position: absolute;
  z-index: 2;
}

#FloatingObjects {
  position: absolute;
  z-index: 3;
}

#Galaxies {
  position: absolute;
  z-index: 2;
}

#home,
#about-me,
#projects,
#contact-me {
  z-index: 10;
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
}

//naw right bottom
.StickyUpNav {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

.AngleUp {
  // display: none;
  cursor: pointer;
  // margin-bottom: -2vh;
  color: #fff;
  font-size: 35px;
  padding: 0 25px;
}

.AnglesUp {
  // display: none;
  cursor: pointer;
  // margin-bottom: -2vh;
  color: #fff;
  font-size: 35px;
  padding: 0 25px;
}

.AnglesUp:hover,
.AngleUp:hover {
  animation: UpDown 2s infinite;
}

#navUp,
#navDoubleUp {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@keyframes UpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

//Navbar
.navbar {
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  top: 0;
  margin: 0;
  height: $navbar-height;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0.7% 5% 0% 5%;

  .navbar-left {
    flex: 0 0 calc($navbar-height * 1.6);
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: calc($navbar-height * 1.6);
    width: calc($navbar-height * 1.6);
    background-image: url("/assets/logo/KaPKaLogoTrim.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
  }

  .navbar-right {
    flex: 0 0 40%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0.4% 5% 0% 5%;
    height: $navbar-height;
    background-color: rgba(0, 0, 0, 0.333);
    outline: 4px solid #f2e900;
    top: 0;
    margin: 0;
    -webkit-clip-path: polygon(
      22.3333333333px 0,
      100% 0,
      100% 25px,
      calc(100% - 35px) 40px,
      calc(100% - 35px) 2000%,
      0 2000%,
      0 22.3333333333px
    );
    clip-path: polygon(
      22.3333333333px 0,
      100% 0,
      100% 25px,
      calc(100% - 35px) 40px,
      calc(100% - 35px) 2000%,
      0 2000%,
      0 22.3333333333px
    );

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      height: 100%;
      border-right: 25px solid #f2e900; /* Ustawienie obramowania */
      border-top: 25px solid #f2e900; /* Ustawienie obramowania */
    }

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0;
      height: 100%;
      border-right: 40px solid #f2e900; /* Ustawienie obramowania */
      border-top: 40px solid #f2e900; /* Ustawienie obramowania */
    }
  }
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
}

.navbar-links li {
  list-style: none;
  border-radius: 50px;
}

// .navbar-links li:hover {
//   background-color: #120458;
//   transition: all 3s;
// }

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #ff00a0;
  padding: 1rem;
  font-weight: lighter;
  letter-spacing: 0.15em;
  transition: color 0.75s;
}

// .navbar-links li a:hover {
//   color: #defe47;
// }

#link-1 {
  animation: 1s fadeIn;
}

#link-2 {
  animation: 2s fadeIn;
}

#link-3 {
  animation: 3s fadeIn;
}

#link-4 {
  animation: 3.5s fadeIn;
}

/* fade in animation for links */
@keyframes fadeIn {
  0% {
    opacity: 0;
    color: #fe75fe;
  }
  50% {
    color: #ffd300;
  }
  100% {
    opacity: 1;
    color: #ff00a0;
  }
}

.toggle-button {
  display: none;
}

.bar {
  background-color: #ff00a0;
  height: 3px;
  width: 35px;
  transition: all 0.75s;
}

.bar-1-active {
  background-color: #defe47;
  transform: rotate(-45deg) translate(-30%, 280%);
}

.bar-2-active {
  opacity: 0;
}

.bar-3-active {
  background-color: #defe47;
  transform: rotate(45deg) translate(-30%, -280%);
}

@media (max-width: 840px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    position: absolute;
    top: 15px;
    right: 45px;
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
    width: 100vw;
  }

  .navbar-links ul {
    width: 100vw;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links ul li a:hover {
    color: #ff0141;
    transition: color 0.6s;
    background-color: #7a04eb;
  }

  .navbar-links.active {
    display: flex;
  }
}

//Glitch
@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-links li a:hover {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;

  // Creates a copy before our text.
  &::before {
    // Duplicates our text with the mixin.
    @include glitchCopy;
    // Scoots text slightly to the left for the color offset.
    left: 2px;
    // Creates the color 'shadow' that happens on the glitch.
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }

  // Creates a copy after our text. Note comments from ::before.
  &::after {
    @include glitchCopy;
    left: -2px;
    text-shadow:
      -2px 0 #00fff9,
      2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}
