<nav id="navbar-example2" class="navbar bg-light px-3 mb-3 sticky-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">AboutMe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading3">Contact</a>
    </li>

  </ul>
</nav>

<div id="Background">
  <canvas id="TwinklingStars"></canvas>

</div>
<!-- <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
  data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
  <div>
    <app-home id="scrollspyHeading1"></app-home>
  </div>
  <h4 id="scrollspyHeading2">AboutMe heading</h4>
  <p>Veniam veniam cupidatat fugiat veniam. Elit ipsum enim minim ex excepteur et amet eiusmod incididunt in Lorem
    occaecat dolor quis. Veniam est duis ea consequat id quis dolor pariatur ipsum dolor. Nulla fugiat culpa qui fugiat
    culpa commodo. Ullamco ex in ipsum duis minim magna voluptate. Laborum commodo veniam ipsum labore.</p>
  <h4 id="scrollspyHeading3">Projects heading</h4>
  <p>Magna quis ea ea reprehenderit consequat deserunt qui elit est adipisicing. Nulla laboris ipsum ullamco sit duis
    velit ullamco commodo nostrud sit dolore aliquip tempor. Tempor voluptate laboris ullamco minim ad esse ut commodo
    et veniam adipisicing. Ex veniam ut ullamco nostrud. Incididunt exercitation minim incididunt elit pariatur occaecat
    velit. Pariatur exercitation ex commodo aliquip qui mollit irure nostrud proident adipisicing. Qui occaecat labore
    nostrud quis quis labore qui elit dolor velit eiusmod dolor.</p>
  <h4 id="scrollspyHeading4">Contact heading</h4>
  <p>Culpa magna mollit magna culpa. Amet eiusmod deserunt nostrud exercitation veniam duis ea nisi enim mollit ipsum
    deserunt magna. Ad pariatur cillum aute aliquip ea nisi nostrud quis. Aliqua officia irure veniam anim consectetur
    enim.</p>
</div> -->